@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@500;600;700&display=swap');
:root{
    /* ********* *\
    *   Colors
    \* ******** */
    --dark-gray: hsl(0, 0%, 63%);
    --black: hsl(0, 0%, 0%);
    --white: hsl(0, 0%, 100%);
    --very-dark-gray: hsl(0, 0%, 27%);
    /* ************ *\
    *   Typography
    \* *********** */
    --main-font: 'Spartan', sans-serif;
         /* Weights */
     --normal-weight: 500;
     --medium-weight: 600;
     --bold-weight:700;
     /* ******* *\
    *   Sizes
    \* ******* */
    --mobile-width: 375px;
    --desktop-width: 1440px;
}
body{
    background-color: var(--white);
    margin: 0;
    padding: 0;
    font-family: var(--main-font);
    font-size: 62.5%;
    display: grid;
    justify-content: center;
    grid-template-rows: repeat(auto-fill, minmax(100px, 1fr));
    grid-template-columns: repeat(auto-fill, minmax(auto, 430px));
}

html{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*, *::after, *::before {
    box-sizing: inherit;
}
a, ul, li{
    color: inherit;
    text-decoration: none;
    font-size: inherit;
    margin: 0;
    padding: 0;
}
.intro{
    position: relative;
    height: 360px;
    /* width: 100vw; */
}
.header {
    padding: 0 30px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    align-items: center;
    position: absolute;
    height: 50px;
    top: 25px;
    left: 0;
    right: 0;
    /* z-index: 1; */
}
.header .logo{
    justify-self: center;
}
.header .burger-icon{
    box-sizing: content-box;
    width: 20px;
    height: 20px;
    padding: 10px;
    cursor: pointer;
}
.header .burger-icon svg{
    width: 100%;
    height: 100%;
}

.slider-btn{
    background-color: var(--black);
    width: 100px;
    height: 50px;
    display: flex;
    justify-content: space-around;
    position: absolute;
    bottom: 0;
    right: 0;
}
.slider-icon{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.slider-icon:hover{
    background-color: var(--very-dark-gray);
}
.slider-icon:active{
    background-color: var(--dark-gray);
}

.slider-icon path{
    stroke-width: 2px;
    stroke: var(--white)
}

.nav-box{
    display: flex;
    position: absolute;
    z-index: 1;
    left: 0;
    width: 100%;
    opacity: 0;
    background-color: var(--white);
    height: 200%;
    align-items: center;
    font-size: 1.3em;
    justify-content: space-around;
    transform: translate(-100%) ;
    transition: transform ease-in-out 250ms, opacity 200ms;
}
body{
    /* overflow: hidden; */

}
.overlay{
    display: none;
}
.overlay.active{
    content: "";
    display: block;
    position: absolute;
    /* z-index: -2; */
    left: 0;
    top: 0;
    right: 0;
    bottom: -125%;
    /* height: 100%; */
    background-color: var(--black);
    opacity: .5;
}

.nav-box.active{
    transform: translate(0);
    opacity: 1;
}
.close-btn{
    cursor: pointer;
    padding: 10px;
}
.nav-box ul {
    display: flex;
    justify-content: space-around;
    list-style: none;
}
.nav-box a{
    padding: 5px 0;
    text-transform: lowercase;
}
li+li {
    margin-left: 30px;
}
/* .nav-box a:hover{
    border-bottom-style: solid;
    border-color: white;
    border-bottom-width: 2px;

} */


.hero img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: left;
}
.hero{
    height: 0;
    /* position: absolute; */
}

/* MAIN */

.card{
    padding: 50px 40px;
    font-size: 1rem;
}
.card h1{
    font-size: 1.6em;
    font-weight: var(--medium-weight);
    letter-spacing: -.05em;
}
.card h3{
    font-size: .7em;
    letter-spacing: 0.3em;
    text-transform: uppercase;

}
.card p {
    font-size: .8em;
    color: var(--dark-gray);
    object-fit: cover;
}

.about-img img {
    width: 100%;
    height: 100%;
}
.shop-btn{
    display: inline-block;
    text-transform: uppercase;
    letter-spacing: .7em;
    font-size: .7em;
    padding: 20px 0;
}

.shop-btn:hover{color: var(--dark-gray);}
.shop-btn:hover path{stroke:var(--dark-gray)}
.shop-btn:active{color: var(--very-dark-gray);}






